@import url('https://fonts.googleapis.com/css2?family=Galindo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

:root {
  --color-primary: #393939;
  --color-secondary: #fafafa;
  --color-tertiary: #FFDE34;
  --color-quaternary: #2E2E2E;
  --color-quinary: #F8A221;
  --color-senary: #fafafa;
  --color-septenary: #fafafa;
  --fun-font: 'Galindo', cursive;
  --sad-font: 'Rock Salt', cursive;
}

/* RESET */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p, label, a, button {
  font-family: var(--fun-font) !important;
}

a {
  color: var(--color-tertiary);
}


/* LOGIN */

body{
  height: 812px;
}
.card-body {
  background-color: #2E2E2E;
}

#frame{
  background-color: #2E2E2E;
  /* padding-top: 112px; */
  height: 100vh;
}

img{
  height: 100px;
  width: 200px;
}

input[type=text], input[type=password] {
  background-color: var(--color-quaternary); 
  border: none;
  border-radius: 9px;
  height: 60px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
  color: var(--color-tertiary);
}

input[type=email], input[type=password]{
  background-color: var(--color-quaternary); 
  border: none;
  border-radius: 9px;
  height: 60px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
  color: var(--color-tertiary);
}

input[type=text]:focus, input[type=password]:focus {
  background-color: var(--color-quaternary); 
  color: var(--color-tertiary);
}

input[type=email]:focus, input[type=password]:focus {
  background-color: var(--color-quaternary); 
  color: var(--color-tertiary);
}

#username{
  text-align: left !important;
}

button{
  background-color: var(--color-tertiary) !important;
  border: none;
  border-radius: 9px;
  height: 60px;
  width: 100%;
}

#main_button{
  background-color: var(--color-quinary) !important;
}

@media screen and (min-width: 375px) {
  body{
    height: 100vh;
  }

}

/* MENU */

#room_container{
/* background-color: red; */
display: flex;
flex-wrap: wrap;
justify-content: space-around;
align-items: center;
height: 540px; 
background-color: var(--color-primary);
}

#menu_container{
  background-color: var(--color-quaternary);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 272px; 
  }

  .icon{
    color: var(--color-tertiary);
  }



.circle{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  background-color: var(--color-quaternary);
  border-radius: 50%;
  height: 140px;
  width: 140px;
  cursor: pointer;
  /* z-index: 1; */
}

.floating { 
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }   
}

#menu_container{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav_button{
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
  border-radius: 10%;
  cursor: pointer;
}

#menu_view{
  position: absolute;
  height: 600px;
  background-color: var(--color-tertiary);
  width: 100%;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.rounded-button{
  background-color: var(--color-quinary);
  border-radius: 10%;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ------Room--------- */

* {
  box-sizing: border-box;
}

body {
  background-color: #2E2E2E;
  font-family: "Calibri", "Roboto", sans-serif;
}

.chat_window {
  position: absolute;
  width: calc(100%);
  max-width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: #2E2E2E;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  background-color: #2E2E2E;
  overflow: hidden;
}

.top_menu {
  background-color: #2E2E2E;
  width: 100%;
  padding: 20px 0 15px;
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
}
.top_menu .buttons {
  margin: 3px 0 0 20px;
  position: absolute;
}
.top_menu .buttons .button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  position: relative;
}
.top_menu .buttons .button.close {
  background-color: #f5886e;
}
.top_menu .buttons .button.minimize {
  background-color: #fdbf68;
}
.top_menu .buttons .button.maximize {
  background-color: #a3d063;
}
.top_menu .title {
  text-align: center;
  color: #FFDE34;
  font-size: 20px;
  font-family: var(--sad-font) !important;
}

.messages {
  position: relative;
  list-style: none;
  padding: 20px 10px 0 10px;
  margin: 0;
  height: 100%;
  overflow: scroll;
}
.messages .message {
  clear: both;
  overflow: hidden;
  margin-bottom: 20px;
  transition: all 0.5s linear;
  opacity: 0;
}
.messages .message.left .avatar {
  background-color: #f5886e;
  float: left;
}
.messages .message.left .text_wrapper {
  background-color: #ffe6cb;
  margin-left: 20px;
}
.messages .message.left .text_wrapper::after, .messages .message.left .text_wrapper::before {
  right: 100%;
  border-right-color: #ffe6cb;
}
.messages .message.left .text {
  color: #c48843;
}
.messages .message.right .avatar {
  background-color: #fdbf68;
  float: right;
}
.messages .message.right .text_wrapper {
  background-color: #c7eafc;
  margin-right: 20px;
  float: right;
}
.messages .message.right .text_wrapper::after, .messages .message.right .text_wrapper::before {
  left: 100%;
  border-left-color: #c7eafc;
}
.messages .message.right .text {
  color: #45829b;
}
.messages .message.appeared {
  opacity: 1;
}
.messages .message .avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
}
.messages .message .text_wrapper {
  display: inline-block;
  padding: 20px;
  border-radius: 6px;
  width: calc(100% - 85px);
  min-width: 100px;
  position: relative;
}
.messages .message .text_wrapper::after, .messages .message .text_wrapper:before {
  top: 18px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.messages .message .text_wrapper::after {
  border-width: 13px;
  margin-top: 0px;
}
.messages .message .text_wrapper::before {
  border-width: 15px;
  margin-top: -2px;
}
.messages .message .text_wrapper .text {
  font-size: 18px;
  font-weight: 300;
}

.bottom_wrapper {
  position: relative;
  width: 100%;
  background-color: #fff;
  padding: 20px 20px;
  position: absolute;
  bottom: 0;
}
.bottom_wrapper .message_input_wrapper {
  display: inline-block;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #bcbdc0;
  width: calc(100% - 160px);
  position: relative;
  padding: 0 20px;
}
.bottom_wrapper .message_input_wrapper .message_input {
  border: none;
  height: 100%;
  box-sizing: border-box;
  width: calc(100% - 40px);
  position: absolute;
  outline-width: 0;
  color: gray;
}
.bottom_wrapper .send_message {
  width: 140px;
  height: 50px;
  display: inline-block;
  border-radius: 50px;
  background-color: #FFDE34;
  border: 2px solid #FFDE34;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s linear;
  text-align: center;
  float: right;
}
.bottom_wrapper .send_message:hover {
  color: #FFDE34;
  background-color: #fff;
}
.bottom_wrapper .send_message .text {
  font-size: 18px;
  font-weight: 300;
  display: inline-block;
  line-height: 48px;
}

.message_template {
  display: none;
}

@media screen and (max-width: 375px) {
  .message_input {
    font-size: 10px;
  }
}

/* Jeffs original App.css

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");

.App {
  min-height: 100vh;
  display: flex;
  background-image: url("./background.png");
  background-position: center;
  background-size: cover;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.281);
}

/* Handle on hover
::-webkit-scrollbar-thumb:hover {
  background: #555;
} 

*/
